---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Rubber Goose - Privacy Policy">
  <main class="container mx-auto p-4">
    <div
      class="py-12 max-w-6xl bg-white mx-auto p-8 shadow shadow-slate-300 mt-16 text-4xl"
    >
      <div class="prose mx-auto">
        <h1 class="text-3xl font-bold text-center mb-8">About</h1>
        <p>
          In the bustling realm of digital innovation, Rubber Goose emerged as a
          beacon of creativity and unbridled passion. Born from the vivid
          imaginations of a tight-knit group of indie developers, our studio is
          a celebration of art, technology, and the magic that arises from their
          union. We're not just coders and designers; we're storytellers,
          dreamers, and pioneers, determined to push the boundaries of what's
          possible in the mobile app space.
        </p>
        <p>
          At Rubber Goose, every app is a labor of love, a testament to our
          dedication to crafting experiences that resonate and inspire. Our
          journey began in a humble garage, fueled by late-night brainstorming
          sessions and endless cups of coffee. Today, our apps have touched the
          lives of millions, but our ethos remains unchanged. With every line of
          code and every pixel, we strive to create a symphony of function and
          form, building apps that don't just serve a purpose but also kindle
          joy and wonder.
        </p>
      </div>
    </div>
  </main>
</Layout>
