<footer class="bg-white mt-auto">
  <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8">
    <nav
      class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <!-- Main Navigation -->
      <div class="pb-6">
        <a href="/" class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >Home</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/about"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900">About</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/privacy"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >Privacy Policy</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/terms"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >Terms of Use</a
        >
      </div>
      <!-- <div class="pb-6">
        <a
          href="/blog"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900">Blog</a
        >
      </div> -->
      <div class="pb-6">
        <a
          href="/accessibility"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >Accessibility</a
        >
      </div>
      <!-- <div class="pb-6">
        <a
          href="/tutorials"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >Tutorials</a
        >
      </div> -->

      <!-- Social Icons -->
      <!-- <div class="flex justify-center space-x-10">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Facebook</span>
          <svg
            fill="currentColor"
            viewBox="0 0 24 24"
            class="h-6 w-6"
            aria-hidden="true">...</svg
          >
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Instagram</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            class="h-6 w-6"
            viewBox="0 0 24 24"
          >
            <path
              d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"
            ></path>
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            viewBox="0 0 50 50"
          >
            <path
              d="M44,14.215c-1.045,1.562-2.368,2.935-3.892,4.035c0.015,0.335,0.022,0.671,0.022,1.008c0,10.302-7.839,22.181-22.179,22.181	c-4.403,0-10.141-1.542-11.951-3.502c0.611,0.073,1.232,0.11,1.86,0.11c3.654,0,7.015-1.247,9.682-3.338	c-3.411-0.063-6.29-2.318-7.283-5.415c1.552,0.244,3.521-0.134,3.521-0.134s-6.096-1.046-6.254-7.741	c1.763,1.022,3.531,0.975,3.531,0.975s-3.516-2.164-3.467-6.488c0.029-2.55,1.054-3.921,1.054-3.921	c6.661,8.202,16.069,8.146,16.069,8.146s-0.202-1.165-0.202-1.776c0-4.304,3.49-7.796,7.796-7.796c2.242,0,4.268,0.947,5.69,2.463	c1.777-0.351,3.446-1,4.951-1.893c-0.68,2.723-3.427,4.313-3.427,4.313S41.873,15.182,44,14.215z M10.047,38.908	c14.752,5.627,28.812-4.718,29.083-19.649c0.002-0.127-0.031-0.564-0.021-0.939c0.013-0.461,0.163-0.692,0.487-0.945	c0.324-0.253,0.734-0.551,1.084-0.855c0.117-0.101,0.052-0.292-0.078-0.287c-1.104,0.04-1.883-0.008-2.413-0.033	c-0.326-0.016-0.521-0.459-0.242-0.689c0.497-0.409,1.259-1.006,2.168-1.796c0.128-0.111,0.077-0.234-0.081-0.183	c-0.661,0.211-1.316,0.365-1.773,0.461c-0.374,0.078-0.664,0.03-0.916-0.249c-1.114-1.23-3.016-2.184-5.037-2.184	c-4.475,0-6.795,3.742-6.795,6.796c0,0.587,0.109,1.233,0.209,1.763c0.148,0.786-0.204,1.098-1.015,1.049	c-2.902-0.175-10.162-1.244-15.787-7.352c-1.261,4.22,1.376,6.861,3.052,8.096c0.637,0.47,0.56,1.186-0.416,1.306	c-0.751,0.093-1.722,0.098-2.863-0.221c0.548,3.57,4.494,5.011,6.296,5.53c0.408,0.118,0.639,0.669-0.091,1.11	c-0.627,0.379-1.595,0.745-3.028,0.794c1.392,2.38,4.244,3.004,6.247,3.293c0.887,0.128,1.253,1.004,0.3,1.734	C16.634,36.824,13.685,38.517,10.047,38.908z"
            ></path>
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            class="h-6 w-6"
            viewBox="0 0 64 64"
          >
            <path
              d="M 32 10 C 19.85 10 10 19.85 10 32 C 10 44.15 19.85 54 32 54 C 44.15 54 54 44.15 54 32 C 54 19.85 44.15 10 32 10 z M 32 14 C 41.941 14 50 22.059 50 32 C 50 40.238706 44.458716 47.16934 36.904297 49.306641 C 36.811496 49.1154 36.747844 48.905917 36.753906 48.667969 C 36.784906 47.458969 36.753906 44.637563 36.753906 43.601562 C 36.753906 41.823563 35.628906 40.5625 35.628906 40.5625 C 35.628906 40.5625 44.453125 40.662094 44.453125 31.246094 C 44.453125 27.613094 42.554688 25.720703 42.554688 25.720703 C 42.554688 25.720703 43.551984 21.842266 42.208984 20.197266 C 40.703984 20.034266 38.008422 21.634812 36.857422 22.382812 C 36.857422 22.382813 35.034 21.634766 32 21.634766 C 28.966 21.634766 27.142578 22.382812 27.142578 22.382812 C 25.991578 21.634813 23.296016 20.035266 21.791016 20.197266 C 20.449016 21.842266 21.445312 25.720703 21.445312 25.720703 C 21.445312 25.720703 19.546875 27.611141 19.546875 31.244141 C 19.546875 40.660141 28.371094 40.5625 28.371094 40.5625 C 28.371094 40.5625 27.366329 41.706312 27.265625 43.345703 C 26.675939 43.553637 25.872132 43.798828 25.105469 43.798828 C 23.255469 43.798828 21.849984 42.001922 21.333984 41.169922 C 20.825984 40.348922 19.7845 39.660156 18.8125 39.660156 C 18.1725 39.660156 17.859375 39.981656 17.859375 40.347656 C 17.859375 40.713656 18.757609 40.968484 19.349609 41.646484 C 20.597609 43.076484 20.574484 46.292969 25.021484 46.292969 C 25.547281 46.292969 26.492043 46.171872 27.246094 46.068359 C 27.241926 47.077908 27.230199 48.046135 27.246094 48.666016 C 27.251958 48.904708 27.187126 49.114952 27.09375 49.306641 C 19.540258 47.168741 14 40.238046 14 32 C 14 22.059 22.059 14 32 14 z"
            ></path>
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">YouTube</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            viewBox="0 0 48 48"
            class="h-6 w-6"
          >
            <path
              fill="currentColor"
              d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"
            ></path><path fill="#FFF" d="M20 31L20 17 32 24z"></path>
          </svg>
        </a>
      </div> -->
    </nav>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      &copy; 2023 Rubber Goose. All rights reserved.
    </p>
  </div>
</footer>
